# Use postgres/example user/password credentials
    version: '3.1'

    services:

      db:
        image: postgres
        restart: always
        environment:
          - POSTGRES_DB: db
          - POSTGRES_USER: student
          - POSTGRES_PASSWORD: aqahw7
